@font-face {
    font-family: 'Fredoka-regular';
    src: url(./assets/Fonts/Fredoka-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #031322;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    background-color: #fbc60e;
    background-image: linear-gradient(150deg, #fff, #fbc60e);
    font-size: 5vh;
    font-family: Fredoka-regular;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    margin-left: -15vh;
    background: linear-gradient(150deg, #fff, #fbc60e);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 2s infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 100% 0;
    }

    50% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

p {
    color: #fff;
    font-size: 2vh;
    font-family: Fredoka-regular;
    display: flex;
    flex-direction: row;
}

.stats {
    width: 30vh;
}

p span {
    background-color: #fbc60e;
    background-image: linear-gradient(150deg, #fff, #fbc60e);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-direction: row;
}

label {
    color: #fff;
    font-size: 2vh;
    font-family: Fredoka-regular;
}

button {
    font-family: Fredoka-regular;
    cursor: pointer;
}

.space {
    width: 5px;
}

.hide {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip_text {
    visibility: hidden;
    width: 20vh;
    background-color: #010c14;
    color: #fff;
    text-align: center;
    border-radius: 1vh;
    padding: 5px;
    position: absolute;
    z-index: 1001;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}



.tooltip:hover .tooltip_text {
    visibility: visible;
    opacity: 1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5vh;
    padding-right: 5vh;
    background-color: #882c25;
    box-sizing: border-box;
}

.header h1 {
    padding-top: 2.5vh;
}

.logo_container {
    display: flex;
    flex-direction: column;
}

.logo_container button {
    color: #031322;
    background: linear-gradient(150deg, #fff, #fbc60e);
    border: none;
    border-radius: 2vh;
    font-size: 2vh;
    transition: 0.3s ease;
    width: 8vh;
    margin-left: 2vh;
    height: 3vh;
    justify-content: center; /* Ensure space-between */
    align-items: center;
    display: flex;
    padding: 1vh;
}

.logo_container button:hover {
    transition: 0.3s;
    transform: scale(1.02);
}

.logo_container button:active {
    background: linear-gradient(150deg, #fbc60e, #fff);
}

.image_logo {
    width: 12.5vh;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 10vh;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal_content_wrapper {
    background: linear-gradient(150deg, #fff, #fbc60e);
    margin: auto;
    box-sizing: border-box;
    border-radius: 2vh;
    width: 102vh;
    height: 62vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content {
    background-color: #031322;
    padding: 1vh;
    border-radius: 2vh;
    width: 99vh;
    height: 59vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_content hr {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    display: block;
    border: none;
    height: 5px;
    width: 102vh;
    background: linear-gradient(150deg, #fff, #fbc60e, #fff);
    border-radius: 2vh;
}

.modal_content button {
    color: #031322;
    background: linear-gradient(150deg, #fff, #fbc60e);
    border: none;
    border-radius: 2vh;
    font-size: 2.5vh;
    transition: 0.3s ease;
    width: 98vh;
    height: 4.9vh;
    justify-content: space-between; /* Ensure space-between */
    align-items: center;
    display: flex;
    padding: 0 1vh; /* Add padding to accommodate space */
}

.modal_content button:hover {
    transition: 0.3s;
    transform: scale(1.02);
}

.modal_content button:active {
    background: linear-gradient(150deg, #fbc60e, #fff);
}

.modal_content .modal_header {
    margin: 1vh 3vh 0 3vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-left: 2vh;
    padding-right: 2vh;
}

.modal_content .modal_header * {
    padding-left: 2vh;
    padding-right: 2vh;
}

.modal_content .modal_header label {
    font-size: 4vh;

}

.modal_content .modal_header #icon {
    background-color: #fbc60e;
    background-image: linear-gradient(150deg, #fff, #fbc60e, #fff);
    font-size: 5vh;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal_content .modal_header button {
    color: #031322;
    background: linear-gradient(150deg, #fff, #fbc60e);
    border: none;
    border-radius: 2vh;
    font-size: 2.5vh;
    transition: 0.3s ease;
    width: 5vh;
    height: 4.9vh;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1vh;
}

.modal_content .modal_header button:hover {
    transition: 0.3s;
    transform: scale(1.02);
}

.modal_content .modal_header button:active {
    background: linear-gradient(150deg, #fbc60e, #fff);
}

.modal_content .modal_header button i {
    color: #031322;
    font-size: 4vh;
}

.modal_content .upgrades_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.modal_content .upgrades_container .upgrades_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vh;
}

.modal_content .upgrades_container .upgrades_column hr {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    display: block;
    border: none;
    height: 5px;
    width: 32vh;
    background: linear-gradient(150deg, #fff, #fbc60e, #fff);
    border-radius: 2vh;
}

.modal_content .upgrades_container .upgrades_column button {
    color: #031322;
    background: linear-gradient(150deg, #fff, #fbc60e);
    padding: 1vh;
    border: none;
    border-radius: 2vh;
    font-size: 2.5vh;
    transition: 0.3s ease;
    width: 32vh;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.modal_content .upgrades_container .upgrades_column button:hover {
    transition: 0.3s;
    transform: scale(1.02);
}

.modal_content .upgrades_container .upgrades_column button:active {
    background: linear-gradient(150deg, #fbc60e, #fff);
}

.modal_content .upgrades_container .upgrades_column .upgrades_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 32vh;
}

.modal_content .upgrades_container .upgrades_column .upgrades_row button {
    width: 15vh;
    font-size: 2.3vh;
    display: flex;
}

.game_container {
    display: flex;
    flex-direction: row;
}

.card_wrapper {
    background: linear-gradient(150deg, #fff, #fbc60e);
    width: 25vh;
    height: 25vh;
    border-radius: 2vh;
    padding: 0.5vh;
    margin: 2vh;
}

.card {
    background-color: #031322;
    width: 25vh;
    height: 25vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
}

.card progress {
    height: 10%;
    width: 90%;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    background-color: #010c14;
    border-radius: 2vh;
    border: 0;
    overflow: hidden;
}

.card progress::-webkit-progress-bar {
    background-color: #010c14;
    border-radius: 2vh;
}

.card progress::-webkit-progress-value {
    background-image: linear-gradient(150deg, #fff, #fbc60e);
    border-radius: 2vh;
}

.card progress::-moz-progress-bar {
    background-image: linear-gradient(150deg, #fff, #fbc60e);
    border-radius: 2vh;
}

.card progress::-webkit-progress-bar {
    background-color: transparent;
}

.card progress::-webkit-progress-value {
    background-color: transparent;
}

.card progress::-moz-progress-bar {
    background-color: transparent;
}

.card progress::-moz-progress-value {
    background-color: transparent;
}

.card progress::-webkit-progress-value {
    background: linear-gradient(150deg, #fff, #fbc60e);
}

.card progress::-moz-progress-bar {
    background: linear-gradient(150deg, #fff, #fbc60e);
}
.card label {
    font-size: 4vh;
}

.card button {
    position: relative;
    display: inline-block;
    width: 90%;
    height: 20%;
    background: linear-gradient(150deg, #fff, #fbc60e);
    border: none;
    border-radius: 2vh;
    color: #031322;
    font-size: 2vh;
    font-family: Fredoka-regular;
    text-align: center;
    overflow: hidden;
    transition: 0.3s ease;
}

.card button:hover {
    transition: 0.3s;
    transform: scale(1.02);
}

.card button:active {
    background: linear-gradient(150deg, #fbc60e, #fff);
}

.card .card_workers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.card .card_workers p {
    font-size: 2vh;
    display: flex;

}

.card .card_workers button {
    height: 3vh;
    width: 4vh;
    margin: 1vh;
}

.card_wrapper_large {
    background: linear-gradient(150deg, #fff, #fbc60e);
    width: 35vh;
    height: 82vh;
    margin: 2vh;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_large {
    background-color: #031322;
    width: 34vh;
    height: 81vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_large hr {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    display: block;
    border: none;
    height: 5px;
    width: 90%;
    background: linear-gradient(150deg, #fff, #fbc60e, #fff);
    border-radius: 2vh;
}

.card_large label {
    font-size: 5vh;
}

.card_medium_wrapper {
    background: linear-gradient(150deg, #fff, #fbc60e);
    width: 35vh;
    height: 54vh;
    margin: 2vh;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_medium {
    background-color: #031322;
    width: 34vh;
    height: 53vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_medium hr {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    display: block;
    border: none;
    height: 5px;
    width: 90%;
    background: linear-gradient(150deg, #fff, #fbc60e, #fff);
    border-radius: 2vh;
}

.card_medium label {
    font-size: 5vh;
}

.rebirth_card_wrapper {
    background: linear-gradient(150deg, #fff, #fbc60e);
    width: 35vh;
    height: 26vh;
    margin: 2vh;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rebirth_card {
    background-color: #031322;
    width: 34vh;
    height: 25vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rebirth_card hr {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    display: block;
    border: none;
    height: 5px;
    width: 90%;
    background: linear-gradient(150deg, #fff, #fbc60e, #fff);
    border-radius: 2vh;
}

.rebirth_card label {
    font-size: 5vh;
}

.rebirth_card .button_holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rebirth_card button {
    position: relative;
    display: inline-block;
    width: 31vh;
    height: 7vh;
    background: linear-gradient(150deg, #fff, #fbc60e);
    border: none;
    border-radius: 2vh;
    color: #031322;
    font-size: 5vh;
    font-family: Fredoka-regular;
    text-align: center;
    overflow: hidden;
    transition: 0.3s ease;
}

.rebirth_card button:hover {
    transform: scale(1.02);
}

.rebirth_card button:active {
    background: linear-gradient(150deg, #fbc60e, #fff);
}

.management_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.management_content .column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.management_content .column hr {
    width: 30vh;
}

.management_content .column button {
    color: #031322;
    background: linear-gradient(150deg, #fff, #fbc60e);
    border: none;
    border-radius: 2vh;
    font-size: 2.5vh;
    padding: 1vh;
    transition: 0.3s ease;
    width: 30vh;
}

.management_content .column button:hover {
    transition: 0.3s;
    transform: scale(1.02);
}

.management_content .column button:active {
    background: linear-gradient(150deg, #fbc60e, #fff);
}

.management_content .column .management_food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.management_content .column .management_food button {
    margin: 0.5vh;
}

.management_content .column .management_food_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 31vh;
}

.management_content .column .management_food_2 button {
    font-size: 1.75vh;
}

.management_content .column .desc {
    margin: 1vh;
}

.management_content .column .adds_button {
    width: 30vh;
    margin: 1vh;
}

.management_content .column .workers_upgrade {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.management_content .column .adds_upgrade {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upgrades .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upgrades .column hr {
    width: 30vh;
}

.upgrades .column .desc {
    margin-bottom: 1vh;
}

.upgrades .column button {
    color: #031322;
    background: linear-gradient(150deg, #fff, #fbc60e);
    border: none;
    border-radius: 2vh;
    font-size: 2.5vh;
    padding: 1vh;
    transition: 0.3s ease;
    width: 30vh;
}

.upgrades .column button:hover {
    transition: 0.3s;
    transform: scale(1.02);
}

.upgrades .column button:active {
    background: linear-gradient(150deg, #fbc60e, #fff);
}

.upgrades .column .upgrades_stats {
    margin: 1vh;
    font-size: 3vh;
}

.upgrades .column .sub_title {
    font-size: 4vh;
}

.upgrades .column .storage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.upgrades .column .storage * {
    margin: 0.5vh;
}

.upgrades .column .storage .storage_upgrade {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upgrades .column .storage .storage_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upgrades .column .storage .storage_buttons button {
    margin: 0.25vh;
    width: 10vh;
    font-size: 1.7vh;
}

.upgrades .column .upgrades_research {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upgrades .column .upgrades_storage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upgrades .column .upgrades_storage .storage_raw_food_upgrade{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upgrades .column .upgrades_storage .upgrades_cooked_food_upgrade {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.events .column hr {
    width: 31vh;
}

.events .column .event_notifications {
    height: 10vh;
    width: 31vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events .column .event_notifications h1 {
    font-size: 4.5vh;
}

.events .column p {
    justify-content: center;
    align-items: center;
}

.events .column .event_timer {
    margin-bottom: 2vh;
}

.animation {
    width: 18%;
}

.animation img {
    margin-bottom: -10vh;
}

.animation .cooking_gif {
    margin-bottom: 0vh;
    height: auto;
    width: 25vh;
}

.animation .cleaning_animation {
    height: auto;
    width: 20vh;
}

@media (min-height: 1000px) and (max-height: 1200px) {
    .animation {
        width: 32.5vh;
    }

    .animation img {
        margin-bottom: -5vh;
    }
}

@media (min-height: 945px) and (max-height: 1000px) {
    .animation {
        width: 50.5vh;
    }

    .animation img {
        margin-bottom: -5vh;
    }
}

@media (min-height: 600px) and (max-height: 700px) {
    .animation {
        width: 64.25vh;
    }

    .animation img {
        margin-bottom: -10vh;
    }
}

.animation .card_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}