@font-face {
    font-family: 'Fredoka-regular';
    src: url(./assets/Fonts/Fredoka-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #031322;
}

h1 {
    background-color: #fbc60e;
    background-image: linear-gradient(150deg, #fff, #fbc60e);
    font-size: 5vh;
    font-family: Fredoka-regular;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    color: #fff;
    font-size: 2vh;
    font-family: Fredoka-regular;
}

p span {
    background-color: #fbc60e;
    background-image: linear-gradient(150deg, #fff, #fbc60e);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

label {
    color: #fff;
    font-size: 2vh;
    font-family: Fredoka-regular;
}

button {
    font-family: Fredoka-regular;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5vh;
    padding-right: 5vh;
    background-color: #882c25;
    box-sizing: border-box;
}

.header h1 {
    padding-top: 2.5vh;
}

.image_logo {
    width: 12.5vh;
}

.game_container {
    display: flex;
    flex-direction: row;
}

.card_wrapper {
    background: linear-gradient(150deg, #fff, #fbc60e);
    width: 25vh;
    height: 25vh;
    border-radius: 2vh;
    padding: 0.5vh;
    margin: 2vh;
}

.card {
    background-color: #031322;
    width: 25vh;
    height: 25vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
}

.card progress {
    height: 10%;
    width: 90%;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;

}

.card progress::-webkit-progress-bar {
    background-color: #010c14;
    border-radius: 2vh;
}

.card progress::-webkit-progress-value {
    background-image: linear-gradient(150deg, #fff, #fbc60e);
    border-radius: 2vh;
}

.card label {
    font-size: 4vh;
}

.card button {
    position: relative;
    display: inline-block;
    width: 90%;
    height: 20%;
    background: linear-gradient(150deg, #fff, #fbc60e);
    border: none;
    border-radius: 2vh;
    color: #031322;
    font-size: 2vh;
    font-family: Fredoka-regular;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s ease;
}

.card button:hover {
    transition: 0.3s;
    transform: scale(1.02);
}

.card button:active {
    background: linear-gradient(150deg, #fbc60e, #fff);
}

.card .card_workers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.card .card_workers p {
    font-size: 2vh;
    display: flex;

}

.card .card_workers button {
    height: 3vh;
    width: 4vh;
    margin: 1vh;
}

.card_wrapper_large {
    background: linear-gradient(150deg, #fff, #fbc60e);
    width: 35vh;
    height: 82vh;
    margin: 2vh;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_large {
    background-color: #031322;
    width: 34vh;
    height: 81vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_large hr {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    display: block;
    border: none;
    height: 5px;
    width: 90%;
    background: linear-gradient(150deg, #fff, #fbc60e, #fff);
    border-radius: 2vh;
}

.card_large label {
    font-size: 5vh;
}

.management_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.management_content .column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.management_content .column hr {
    width: 30vh;
}

.management_content .column button {
    color: #031322;
    background: linear-gradient(150deg, #fff, #fbc60e);
    border: none;
    border-radius: 2vh;
    font-size: 2.5vh;
    padding: 1vh;
    transition: 0.3s ease;
}

.management_content .column button:hover {
    transition: 0.3s;
    transform: scale(1.02);
}

.management_content .column button:active {
    background: linear-gradient(150deg, #fbc60e, #fff);
}

.management_content .column .desc {
    margin: 1vh;
}

.management_content .column .adds_button {
    width: 25vh;
    margin: 1vh;
}